.CSSTableCustomer {
	margin:0px;padding:0px;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
	
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
	
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
	
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
}.CSSTableCustomer table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableCustomer tr:last-child td:last-child {
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
}
.CSSTableCustomer table tr:first-child td:first-child {
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
}
.CSSTableCustomer table tr:first-child td:last-child {
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
}.CSSTableCustomer tr:last-child td:first-child{
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
}.CSSTableCustomer tr:hover td{
	background-color:#ffffff;
		

}
.CSSTableCustomer td{
	vertical-align:middle;
		background:-o-linear-gradient(bottom, #c7c7fc 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c7c7fc), color-stop(1, #ffffff) ); 
	background:-moz-linear-gradient( center top, #c7c7fc 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#c7c7fc", endColorstr="#ffffff");	background: -o-linear-gradient(top,#c7c7fc,ffffff);

	background-color:#c7c7fc;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:10px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableCustomer tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableCustomer tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableCustomer tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableCustomer tr:first-child td{
		background:-o-linear-gradient(bottom, #a2a2f9 5%, #a2a2f9 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a2a2f9), color-stop(1, #a2a2f9) );
	background:-moz-linear-gradient( center top, #a2a2f9 5%, #a2a2f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#a2a2f9", endColorstr="#a2a2f9");	background: -o-linear-gradient(top,#a2a2f9,a2a2f9);

	background-color:#a2a2f9;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:15px;
	font-family:Georgia;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableCustomer tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #a2a2f9 5%, #a2a2f9 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a2a2f9), color-stop(1, #a2a2f9) );
	background:-moz-linear-gradient( center top, #a2a2f9 5%, #a2a2f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#a2a2f9", endColorstr="#a2a2f9");	background: -o-linear-gradient(top,#a2a2f9,a2a2f9);

	background-color:#a2a2f9;
}
.CSSTableCustomer tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableCustomer tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}