<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BankOfBengal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddBranchDetailsServlet</display-name>
    <servlet-name>AddBranchDetailsServlet</servlet-name>
    <servlet-class>org.servlet.AddBranchDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBranchDetailsServlet</servlet-name>
    <url-pattern>/AddBranchDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCustomerAccountServlet</display-name>
    <servlet-name>AddCustomerAccountServlet</servlet-name>
    <servlet-class>org.servlet.AddCustomerAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomerAccountServlet</servlet-name>
    <url-pattern>/AddCustomerAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminChangeDefaultPasswordServlet</display-name>
    <servlet-name>AdminChangeDefaultPasswordServlet</servlet-name>
    <servlet-class>org.servlet.AdminChangeDefaultPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminChangeDefaultPasswordServlet</servlet-name>
    <url-pattern>/AdminChangeDefaultPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminChangePasswordServlet</display-name>
    <servlet-name>AdminChangePasswordServlet</servlet-name>
    <servlet-class>org.servlet.AdminChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminChangePasswordServlet</servlet-name>
    <url-pattern>/AdminChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCustomerAccountSelectTSServlet</display-name>
    <servlet-name>AdminCustomerAccountSelectTSServlet</servlet-name>
    <servlet-class>org.servlet.AdminCustomerAccountSelectTSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCustomerAccountSelectTSServlet</servlet-name>
    <url-pattern>/AdminCustomerAccountSelectTSServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditForm1Servlet</display-name>
    <servlet-name>AdminEditForm1Servlet</servlet-name>
    <servlet-class>org.servlet.AdminEditForm1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditForm1Servlet</servlet-name>
    <url-pattern>/AdminEditForm1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditForm2Servlet</display-name>
    <servlet-name>AdminEditForm2Servlet</servlet-name>
    <servlet-class>org.servlet.AdminEditForm2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditForm2Servlet</servlet-name>
    <url-pattern>/AdminEditForm2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditForm3Servlet</display-name>
    <servlet-name>AdminEditForm3Servlet</servlet-name>
    <servlet-class>org.servlet.AdminEditForm3Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditForm3Servlet</servlet-name>
    <url-pattern>/AdminEditForm3Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>org.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminMatureFDServlet</display-name>
    <servlet-name>AdminMatureFDServlet</servlet-name>
    <servlet-class>org.servlet.AdminMatureFDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminMatureFDServlet</servlet-name>
    <url-pattern>/AdminMatureFDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminTSBranchSelectServlet</display-name>
    <servlet-name>AdminTSBranchSelectServlet</servlet-name>
    <servlet-class>org.servlet.AdminTSBranchSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminTSBranchSelectServlet</servlet-name>
    <url-pattern>/AdminTSBranchSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankTSBranchSelectServlet</display-name>
    <servlet-name>BankTSBranchSelectServlet</servlet-name>
    <servlet-class>org.servlet.BankTSBranchSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankTSBranchSelectServlet</servlet-name>
    <url-pattern>/BankTSBranchSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeDefaultPasswordServlet</display-name>
    <servlet-name>ChangeDefaultPasswordServlet</servlet-name>
    <servlet-class>org.servlet.ChangeDefaultPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeDefaultPasswordServlet</servlet-name>
    <url-pattern>/ChangeDefaultPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>org.servlet.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerAccountSelectFDServlet</display-name>
    <servlet-name>CustomerAccountSelectFDServlet</servlet-name>
    <servlet-class>org.servlet.CustomerAccountSelectFDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerAccountSelectFDServlet</servlet-name>
    <url-pattern>/CustomerAccountSelectFDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerAccountSelectMTServlet</display-name>
    <servlet-name>CustomerAccountSelectMTServlet</servlet-name>
    <servlet-class>org.servlet.CustomerAccountSelectMTServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerAccountSelectMTServlet</servlet-name>
    <url-pattern>/CustomerAccountSelectMTServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerAccountSelectTDServlet</display-name>
    <servlet-name>CustomerAccountSelectTDServlet</servlet-name>
    <servlet-class>org.servlet.CustomerAccountSelectTDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerAccountSelectTDServlet</servlet-name>
    <url-pattern>/CustomerAccountSelectTDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerAccountSelectTSServlet</display-name>
    <servlet-name>CustomerAccountSelectTSServlet</servlet-name>
    <servlet-class>org.servlet.CustomerAccountSelectTSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerAccountSelectTSServlet</servlet-name>
    <url-pattern>/CustomerAccountSelectTSServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerChangePasswordServlet</display-name>
    <servlet-name>CustomerChangePasswordServlet</servlet-name>
    <servlet-class>org.servlet.CustomerChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerChangePasswordServlet</servlet-name>
    <url-pattern>/CustomerChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLoginServlet</display-name>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <servlet-class>org.servlet.CustomerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <url-pattern>/CustomerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerTransferMoneyServlet</display-name>
    <servlet-name>CustomerTransferMoneyServlet</servlet-name>
    <servlet-class>org.servlet.CustomerTransferMoneyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerTransferMoneyServlet</servlet-name>
    <url-pattern>/CustomerTransferMoneyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordServlet</display-name>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>org.servlet.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/ForgotPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Form1PersonalDetailsServlet</display-name>
    <servlet-name>Form1PersonalDetailsServlet</servlet-name>
    <servlet-class>org.servlet.Form1PersonalDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Form1PersonalDetailsServlet</servlet-name>
    <url-pattern>/Form1PersonalDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Form2AdditionalDetailsServlet</display-name>
    <servlet-name>Form2AdditionalDetailsServlet</servlet-name>
    <servlet-class>org.servlet.Form2AdditionalDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Form2AdditionalDetailsServlet</servlet-name>
    <url-pattern>/Form2AdditionalDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Form3PersonalIdentificationServlet</display-name>
    <servlet-name>Form3PersonalIdentificationServlet</servlet-name>
    <servlet-class>org.servlet.Form3PersonalIdentificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Form3PersonalIdentificationServlet</servlet-name>
    <url-pattern>/Form3PersonalIdentificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OnlineFDPart2Servlet</display-name>
    <servlet-name>OnlineFDPart2Servlet</servlet-name>
    <servlet-class>org.servlet.OnlineFDPart2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OnlineFDPart2Servlet</servlet-name>
    <url-pattern>/OnlineFDPart2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OnlineFDPart3Servlet</display-name>
    <servlet-name>OnlineFDPart3Servlet</servlet-name>
    <servlet-class>org.servlet.OnlineFDPart3Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OnlineFDPart3Servlet</servlet-name>
    <url-pattern>/OnlineFDPart3Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateLatestNewsServlet</display-name>
    <servlet-name>UpdateLatestNewsServlet</servlet-name>
    <servlet-class>org.servlet.UpdateLatestNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateLatestNewsServlet</servlet-name>
    <url-pattern>/UpdateLatestNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBranchManagerServlet</display-name>
    <servlet-name>AddBranchManagerServlet</servlet-name>
    <servlet-class>org.servlet.AddBranchManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBranchManagerServlet</servlet-name>
    <url-pattern>/AddBranchManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBankConstrainsServlet</display-name>
    <servlet-name>UpdateBankConstrainsServlet</servlet-name>
    <servlet-class>org.servlet.UpdateBankConstrainsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBankConstrainsServlet</servlet-name>
    <url-pattern>/UpdateBankConstrainsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankConstraintsServlet</display-name>
    <servlet-name>BankConstraintsServlet</servlet-name>
    <servlet-class>org.servlet.BankConstraintsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankConstraintsServlet</servlet-name>
    <url-pattern>/BankConstraintsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateConstraintsServlet</display-name>
    <servlet-name>UpdateConstraintsServlet</servlet-name>
    <servlet-class>org.servlet.UpdateConstraintsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateConstraintsServlet</servlet-name>
    <url-pattern>/UpdateConstraintsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSendEmailServlet</display-name>
    <servlet-name>AdminSendEmailServlet</servlet-name>
    <servlet-class>org.servlet.AdminSendEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSendEmailServlet</servlet-name>
    <url-pattern>/AdminSendEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComplainEntryServlet</display-name>
    <servlet-name>ComplainEntryServlet</servlet-name>
    <servlet-class>org.servlet.ComplainEntryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComplainEntryServlet</servlet-name>
    <url-pattern>/ComplainEntryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComplainReplyServlet</display-name>
    <servlet-name>ComplainReplyServlet</servlet-name>
    <servlet-class>org.servlet.ComplainReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComplainReplyServlet</servlet-name>
    <url-pattern>/ComplainReplyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewCustomersOfferServlet</display-name>
    <servlet-name>NewCustomersOfferServlet</servlet-name>
    <servlet-class>org.servlet.NewCustomersOfferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewCustomersOfferServlet</servlet-name>
    <url-pattern>/NewCustomersOfferServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerAccountCloseServlet</display-name>
    <servlet-name>CustomerAccountCloseServlet</servlet-name>
    <servlet-class>org.servlet.CustomerAccountCloseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerAccountCloseServlet</servlet-name>
    <url-pattern>/CustomerAccountCloseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditContactDetailsServlet</display-name>
    <servlet-name>AdminEditContactDetailsServlet</servlet-name>
    <servlet-class>org.servlet.AdminEditContactDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditContactDetailsServlet</servlet-name>
    <url-pattern>/AdminEditContactDetailsServlet</url-pattern>
  </servlet-mapping>
</web-app>